

#site_header
{
       /* width:  max-;*/
        height: 185px;
        background-image: url(../img/pattern.png);
        background-repeat: repeat-x;
        background-color:rgb(0, 140, 255);
}

#logo
{
        width: 50%;
        height: 50%;
        margin-top: 70px;
        margin-left: -280px;
}

#title
{
        font-size: 500%;
}

#undertitle
{
        margin-top: -40px;
        font-weight: normal;
        font-size: 200%;
}

#author
{
        color:aqua;
}

#date
{
        margin-top: -20px;
        font-weight: normal;
        font-size: 110% ;
}


#photo1
{
        width: 52.5%;
        height: 52.5%;
}

#photo2
{
        width: 45%;
        height: 45%;
}

.sizeFont
{
        font-size: 30px;
}

.highlighter
{
        background-color: yellow;
}